.textstyle{
    display: grid;
    grid-row: 1;
    justify-content: center;
    /* flex-direction: column; */
    

    width: 100%;
}
.eventname{
    /* display: inline-block; */
    border: 10px solid white;
    width: fit-content;
    
}
.content{
   
    border: 10px solid white;
    width: 97.8%;
    height: 50rem;
}
.heading{
    color: blanchedalmond;
    font-size: 40px;
    text-align: center;


}
.sidebar{
    position: absolute;
  left: auto;
  width: 10rem;
  height: 10rem;
  border: 10px solid white;
}